.custom-navbar {
  display: flex;
  align-items: center;
  min-height: 64px;
  height: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #e3dcd2;
  padding: 0.5rem 0;
}

.custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  display: block;
}

.navbar-nav .nav-link {
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  background: transparent;
  font-size: 1rem;
  color: #4b4b4b;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background: linear-gradient(to top, #d8f69e 50%, transparent 50%);
  color: #4b4b4b;
}
