.detail-container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.book-image{
  display: flex;
  justify-content: center;
}

.book-image-cover{
  padding: 1em;
}

.bookdetail-area{
  padding: 1em;
}

.bookdetail-area div{
  margin: 10px 0;
}

.bookdetail-area h1{
  font-weight: bold;
  font-size: 30px;
  margin: 12px 0;
}

.ratings{
  display: flex;
  align-items: center;
  gap: 8px;
}

.detail-buttons{
  display: flex;
  gap: 1.5em;
  justify-content: flex-end;
  margin-top: 4rem;
}

.detail-buttons button{
  border: none;
  background-color: #f6a89e;
}

.detail-buttons button:hover{
  background-color: #d8f69e;
  color: #4b4b4b;
}

.detail-buttons button:active{
  background-color: #d8f69e !important;
  color: #4b4b4b !important;
}

.bookdetail-bottom{
  margin: 2em 0;
}

.bookdetail-bottom p{
  line-height: 33px;
}

.first-bottom-row{
  margin-top: 6rem;
}

.bottom-subtitle{
  display: flex;
  justify-content: center;
}

.bottom-subtitle h2{
  font-size: 24px;
}

.bookdetail-list{
  list-style: none;
  padding: 0;
}

.bookdetail-list li{
  margin: 10px 0;
}

.bookdetail-list li:first-child{
  margin-top: 0;
}

.bookdetail-list a{
  text-decoration: none;
  color: #4b4b4b;
}

@media screen and (max-width: 738px){
  .bookdetail-area div{
    margin: 13px 0;
  }

  .detail-buttons{
    margin-top: 1em;
    justify-content: center;
  }
}

@media screen and (max-width: 991px){
  .bottom-subtitle{
    justify-content: flex-start;
    margin: 1em 0;
  }
}