@font-face {
  font-family: "MaruBuri";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriSemiBold";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriBold";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriLight";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriExtraLight";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf)
      format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
}

.create-box {
  width: 100%;
  /* height: 90vh; */
  padding: 20px;
  border: 1px solid #e3dcd2;
  margin-top: 30px;
  margin-bottom: 200px;
  font-family: "MaruBuriSemiBold", serif;
  color: #4b4b4b;
}

.create-box label {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.create-box label:last-of-type {
  margin-right: 0;
  margin-bottom: 10px;
}

.create-title {
  padding: 10px 0;
  border-bottom: 1px solid #4b4b4b;
  margin-bottom: 20px;
}

.create-title input {
  width: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 24px;
  background-color: #fdfcf9;
}

#location-dropdown {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

#input-date {
  height: 30px;
  margin-bottom: 20px;
}

#input-time {
  height: 30px;
  margin-bottom: 20px;
}

#input-email {
  padding: 0 10px;
  margin-bottom: 20px;
  outline: none;
}

#input-textarea {
  display: block;
  width: 100%;
  height: 220px;
  padding: 20px;
  border-color: #4b4b4b;
  outline: none;
  resize: none;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  padding-right: 0;
}

.button-box button {
  width: 76px !important;
  border: none;
  background-color: #f6a89e;
}

.button-box button:hover,
.button-box button:active,
.button-box button:focus {
  background-color: #d8f69e !important;
  color: #4b4b4b !important;
}

@media screen and (min-width: 376px) {
  #input-textarea {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .button-box {
    justify-content: center;
    padding: 2em 0;
  }

  .button-box button{
    width: 100% !important;
  }
}
