@font-face {
  font-family: "MaruBuri";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriSemiBold";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriBold";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriLight";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.ttf)
      format("truetype");
}

@font-face {
  font-family: "MaruBuriExtraLight";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf)
      format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
}

.home-meeting-list{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.meeting-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "MaruBuriBold", serif;
  font-size: 26px;
  font-weight: 600;
  color: #4b4b4b;
}

.meeting-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: #4b4b4b;
}

thead,
tbody {
  width: 100%;
}

thead tr,
tbody tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #e3dcd2;
}

thead tr {
  padding-bottom: 10px;
}

tbody tr {
  padding: 10px 0;
}

thead tr th:first-child {
  text-align: center;
}

tbody tr td:nth-child(2) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

tbody tr td:first-child {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

tbody tr td:last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

thead tr th {
  font-family: "MaruBuriBold", serif;
  font-weight: 600;
}

tbody tr td {
  font-family: "MaruBuriSemiBold", serif;
}

thead tr th:nth-child(2),
thead tr th:last-child,
tbody tr td:nth-child(2),
tbody tr td:last-child {
  width: 25%;
  text-align: center;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 50%;
}

.meeting-row:hover td {
  color: #f6a89e;
}

.add-button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.add-button-area button {
  border: none;
  background-color: #f6a89e;
}

.add-button-area button:hover,
.add-button-area button:active,
.add-button-area button:focus {
  background-color: #d8f69e !important;
  color: #4b4b4b !important;
}

.pagination {
  justify-content: center;
}

.page-item {
  padding: 0 10px;
}

.page-item a {
  border: none;
  border-radius: 10px;
  color: #f6a89e;
}

.page-item a:hover,
.page-item a:active,
.page-item a:focus {
  background-color: #d8f69e;
  color: #4b4b4b;
}

.page-item.active a {
  background-color: #d8f69e;
  color: #4b4b4b;
}

.page-item.disabled a {
  color: #4b4b4b;
}

@media screen and (min-width: 768px) {
  .page-item {
    padding: 0 20px;
  }
}
