.libraryContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  color: #4b4b4b;
}

.libraryBoxStroke {
  border-radius: 8px;
  border: 1px solid #e3dcd2 !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.libraryNameTitle {
  font-family: "MaruBuriBold";
  font-size: 26px;
  margin-block: 30px;
}

.libraryBookList {
  padding: 1rem;
}

.libraryBookList p {
  margin: 0;
}

.libraryTitle {
  font-family: "MaruBuriSemiBold";
  font-size: 20px;
}
