.book-detail-card {
  width: 220px;      
  margin: 0 auto;
  margin-top: 1rem;     
}

.book-detail-card .book-cover {
  width: 100%;
  height: auto;       
  object-fit: cover; 
}
  
.book-detail-title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
.book-detail-desc {
    line-height: 1.6;
    color: #444;
  }

.rental-buttons{
  padding: 1em;
  display: flex;
  justify-content: center;
}

.rental-detail {
    background-color: #f6a89e !important;
    border-color:     #f6a89e !important;              
  }
  
.rental-detail:hover,
.rental-detail:focus {
    background-color: #d8f69e !important; 
    border-color:     #d8f69e !important;
    color:            #4b4b4b    !important;
  }

@media (max-width: 576px) {
  .book-detail-card {
      width: 150px;    
    }
  }
  .rental-buttons{
    justify-content: center;
    gap: 2em;
  }
  
@media (min-width: 577px) and (max-width: 768px) {
  .book-detail-card {
      width: 180px;
    }
  }